.body{
    background-image: url("../img/formanresten1.jpg");
    size: 1000px;
}

.header{
    position: sticky;
    height: 150px;
    position: fixed;
    width: 100%;
    top: 0px;

}
.header{
    text-align: center;
    color: cornsilk;
    font-family: "Lucida Console sans serif";
    font-size: 20px;
}
.header-nav a{
    justify-content: space-evenly;

    color: cornsilk;
}
.about{
    margin-top: 100px;
    position: center;



}
.flex-box p{
    margin-top: 4rem;
    color: cornsilk;
    display: flex;
    width: 100%
}
.flex-box2{
    display: flex;

}

.consumer-section{

    text-align: left;
    color: cornsilk;
    width: 220px;
}
.consumer-section p{
    margin: -1rem
}

.organisation-section{
    text-align: right;
    color: cornsilk;
    width: 190px;
}
.organisation-section p{
    margin: -1rem
}

.company-section{
    text-align: center;
    color: cornsilk;
    width: 290px;
    margin-top: 34
}
.company-section p{
    margin: -1rem
}


.footer-nav a{
    position: sticky;
    color: cornsilk;
    text-align: center;
    height: 86px;
    bottom: 0px;
    width: 100%;

}
.footer{
    color: cornsilk;
    text-align: center;



}

X