<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="UTF-8">
    <title>For Mad Resten</title>
</head>

<body>
    <header class="header">
        <h1>
            For Mad'Resten
        </h1>
    <hr>
        <nav class="header-nav">
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">opslagstavlen</a>
        </nav>
    <hr>
    </header>

    <section class="about">
        <h2>
            Hej dette er hjemmeside om madspild. Madspild er rigtig dårligt.
        </h2>
            <p>Her på siden kan du se hvordan du som privatperson, arbejdsplads eller organisation kan
                    bidrage positivt til vores fælles kamp imod madspild.</p>

<div class="consumer-div">
    <section class="details" id="consumer">
        <h2>
            Forbrugere
        </h2>
            <p>
               Det her er noget kort tekst som skal gøre folk interesseret
            </p>
            <nav>
                <ul>
                    <li><a href="consumer">Forbrugere</a></li>
                </ul>
            </nav>
    </section>
</div>
<div class="company-div">
    <section class="details" id="company">
        <h2>
            Virksomheder
        </h2>
        <p>
            Det her er noget kort tekst som skal gøre folk interesseret
        </p>
        <nav>
            <ul>
                <li><a href="company">Virksomhed</a></li>
            </ul>
        </nav>
    </section>
</div>
    <section class="details" id="organisation">
        <h2>
            Organisation
        </h2>
        <p>
            Det her er noget kort tekst som skal gøre folk interesseret
        </p>
        <nav>
            <ul>
                <li><a href="organisation">Organisation</a></li>
            </ul>
        </nav>
    </section>
    </section>



    <footer class="footer">
        <hr>
        <nav>
            <a href="index">Home</a>
            <a href="form">Skriv et opslag</a>
            <a href="dashboard">opslagstavlen</a>
        </nav>
        <hr>  <!-- Defines a thematic change in the content -->
        <div>  <!-- 	Defines a section in a document -->
            <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
        </div>
    </footer>

</body>
</html>